/* TO-DO: text on bottom of button*/
:root{
    /**using the horizon color scheme**/
    --background: #16161C;
    --foreground: #fdf0ed;
    --orange:#FAB28E;
    --blue: #21BFC2;
}

.container
{
    display: grid;
    margin: 0;
    padding: 0;
}
.title-container
{
    padding: 0;
    margin: 0;
    width: 100%;

}
.page-title
{
    display: inline-block;
    float: left;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: xx-large;

    padding-left: 100px;

}

hr {
    display: inline-block;
    height: 2px;
    width: 100%;
    color: #fdf0ed;
    background-color: #fdf0ed;
}

.navigation-container
{
    display: inline-block;
    float: right;
    list-style-type: none; 

    padding-right: 100px;
}

.nav-link
{
    color: var(--background);
    font-family: neue-haas-grotesk-display, sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: large;
    font-weight: bold;

    position: absolute;
    bottom: 0;
}

.nav-item-home
{
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
    position: relative;
    height: 50px;
    width: 150px;
    margin-inline: 25px;

    background-color:#fab28e;

    transition: ease-out 0.25s;
}

.nav-item-home:hover
{
    height: 300px;
}

.nav-item-about
{
    float: left;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;

    position: relative;
    height: 50px;
    width: 150px;
    margin-inline: 25px;
    
    font-family: neue-haas-grotesk-display, sans-serif;
    background-color: #21BFC2;

    transition: ease-out 0.25s;
}

.nav-item-about:hover
{
    height: 300px;
}
.nav-item-work
{
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: center;

    position: relative;
    height: 50px;
    width: 150px;
    margin-inline: 25px;

    font-family: neue-haas-grotesk-display, sans-serif;
    background-color: #27d796;

    transition: ease-out 0.25s;
}

.nav-item-work:hover
{
    height: 300px;
}

.nav-item-more
{
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: center;

    position: relative;
    height: 50px;
    width: 150px;
    margin-inline: 25px;

    font-family: neue-haas-grotesk-display, sans-serif;
    background-color: #e95379;

    transition: ease-out 0.25s;
}

.nav-item-more:hover
{
    height: 300px;
}
body{
    background-color: var(--background);
    color: var(--foreground);
}

.icon
{
    float: left;
    padding: 5px;
}
.socials
{
    padding: 10px;
}
.socials::after
{
    content: "";
    clear: both;
    display: table;
}

.bio
{
    font-family: neue-haas-grotesk-display, sans-serif;
    width: 25%;
    padding-left: 100px;
}

.bio p
{
    font-size: x-large;
    letter-spacing: 0.02em;
    font-family: neue-haas-grotesk-display, sans-serif;
}
